<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="style/style.css">
        <body>
        <h1>Table</h1>
            <table>
                <thead>
                    <tr>
                        <th>link</th>    
                        <th>description</th>
                    </tr>
                    <tbody>
                        
                        <tr>
                            <td><a href="index.html" target="_blank">index</a></td>
                            <td>group and span</td>
                        </tr>
                        <tr>
                            <td><a href="list.html" target="_blank">list</a></td>
                            <td>orderlist and unorderlist</td>
                        </tr>
                        <tr>
                            <td><a href="table.html" target="_blank">table</a></td>
                            <td>table and row</td>
                        </tr>
                       
                </tbody>
                
                </thead>
            </table>
        </body>
    
    </head>

</html>