<!DOCTYPE html>
<html>
    <head>
        <title>form</title>
       <script type="text/javascript" src="../scripts/process.js"></script>
        <body>
            <form name="get form" method="post">
            <table>
                <tr>
                    <td>First Name</td>
                    <td>
                       <input type="text" name="FirstName" id="FirstName" value="" placeholder="Enter First Name">
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                       <input type="text" name="LastName" id="Lastname" value="" placeholder="Enter Last Name">
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                       <input type="text" name="Address" id="Address" value="" placeholder="Enter Address">
                    </td>
                </tr>
                <tr>
                   <td>Password</td>
                   <td>
                      <input type="Password" name="Password" id="Password" value="" placeholder="Enter Password">
                   </td>
                </tr>
               <tr>
                  <td colspan="2">
                     <input type="Submit" onclick="processForm()" value="Submit">
                  </td>
               </tr>
            </table>
            </form>
        </body>
    </head>
</html>