<!DOCTYPE html>
<html>
<head>
    <title>First page</title>
    <link rel="stylesheet" href="style/style.css">
    <style>
        h2,h4,h5,h6{
            color: blue;
        }
            h3{
               cursor: pointer;
            }    
        
    
    
    </style>
    
    
    <body>
        <h1 style = "color:red">Header</h1>
        <h2>Header</h2>
        <h3>Header</h3>
        <h4>Header</h4>
        <h5>Header</h5>
        <h6 class="group">Header</h6>
        <span>Hello World</span>
        <br>
        <span>Good Morning</span>
        <br>
        <span>Good Night</span>
        <br>
        <span id="firstspan">first id</span>
        <br>
        <span class="group" id="secondspan">second id</span>
        <br>
        <span class="group">group</span>
    
    </body>
    
    
    </head>

</html>