<!DOCTYPE html>
<html>
    <head>
        <title>table</title>
        <link rel="stylesheet" href="style/style.css">
        
        <body>
            <h1>Tables</h1>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                    </tr>
                    
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>def</td>
                            <td>ghi</td>
                        </tr>
                        <tr>
                            <td>jkl</td>
                            <td>mno</td>
                            <td>pqr</td>
                        
                        </tr>
                        <tr>
                            <td>stu</td>
                            <td>vwx</td>
                            <td>yza</td>
                        
                        </tr>
                
                    </tbody>
                
                </thead>
            
            
            </table>
        <h1>Links</h1>
        <a href="https://www.google.com" target="_blank">google</a>
        <br>
        <a href="index.html">mypage</a>
        
        
        </body>
    
    </head>
    
</html>