span{
    font-size:30px;
    color: green;
    cursor: pointer;
}
span:hover{
    font-size: 50px;
    color:red;
}
#firstspan{
    color: pink;
}
.group{
    color: red;
    
}
#secondspan{
    color: black;
}

th{
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer
}
th:hover{
 background-color: red
}
table,tr,td{
    border: solid 1px

}