<!doctype html>
<html>
   <head>
      <title>Bootstrap tutorials</title>
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
      </head>
      <body>
         <div class="row alert-success">
            <div class="col-md-2">
               First Name
            </div>
            <div class="col-md-3">
               <input type="text" class="form-control" name="firstName" id="firstName" required>
            </div>
         </div>   
         <div class="row">
            <div class="col-md-2">
               Last Name
            </div>
            <div class="col-md-3">
               <input type="text" class="form-control" name="lastName" id="lastName" required>
            </div>
         </div>
      <button class="btn btn-success">
         Submit</button>
      </body>
</html>