<!doctype html>
<html>
   <head>
      <title>Bootstrap tutorials</title>
      <link rel="stylesheet" href="../node_modules/jquery-ui-dist/jquery-ui.css">
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
 
      </head>
      <body>
         <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Tab 4</a></li>
    <li><a href="#form-container">Form</a></li>
    <li><a href="#result-container">Results</a></li>
    <li><a href="#tabs-3">Tab 3</a></li>
     
  </ul>
    <div id="tabs-4">
      <p>stuff for tab 4</p>
    </div>  
   <div id="tab4">
    <p>stuff for tab 4</p>
   </div>           
   <div id="form-container">
      <form class="form-group">
      
            
            
            
      </body>
      <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
      <script type="text/javascript" src="../node_modules/jquery-ui-dist/jquery-ui.js"></script>
      <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
      
</html>