<!DOCTYPE html>
<html>
    <head>
        <title> Bootstrap tutorials </title>    
       <link rel="stylesheet" href="../node_modules/jquery-ui-dist/jquery-ui.css">
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        
    </head>
    <body>
       <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Form</a></li>
    <li><a href="#tabs-2">Results</a></li>
    <li><a href="#tabs-3">Tab 3</a></li> 
  </ul>
  <div id="tabs-1">
    <p> form contents
        <h1> Contact List</h1>
        <form name='Contact list' id="contactInfo">
            <table class="table table-hover">
            
                <div class="row">
                <div class="col-md-2">First Name</div>
                <div class="col-md-3"> <input type="text" class="form-control" name="firstName" id="firstName">
            </div>
            </div>
            
                <div class="row">
                <div class="col-md-2">Last Name</div>
    
                <div class="col-md-3"> <input type="text" class="form-control" name="lastName" id="lastName">
            </div>
            </div>        
            
                <div class="row">
                <div class="col-md-2">Contact</div>
    
                <div class="col-md-3"> <input type="text" class="form-control" name=lastName id="contact">
            </div>
            </div>        
            
                <div class="row">
                <div class="col-md-2">Email</div>
    
                <div class="col-md-3"> <input type="text" class="form-control" name=lastName id="email">
            </div>
            </div>
            <button class="btn btn-success" id="add">Submit</button>
            </table>
        </form> 
     </p>
  </div>
  <div id="tabs-2">
    <p> 
     <table class="table" id="resultTbl">
                <caption> Results of new entries</caption>
                <thead>
                    <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact</th>
                    <th>Email</th>
                    </tr>
                    </thead>
                <tbody> 
                    
                    </tbody>
         </table> 
     </p>
  </div>
  <div id="tabs-3">
    
  </div>
</div>
    
    </body>
       <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>  
        <script type="text/javascript" src="../node_modules/jquery-ui-dist/jquery-ui.js"></script>
      <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="../scripts/tabs.js"></script>
        <script type="text/javascript" src="../scripts/person.js"></script>
        <script type="text/javascript" src="../scripts/append.js"></script>
        <script type="text/javascript" src="../scripts/event.js"></script>
</html>